<!DOCTYPE html>
<html>
<head>
	<title>Login - Library Management System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/loginstyle.CSS">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap" rel="stylesheet">   
</head>
<body>
	<div class="login-page">
		{% if error %}
    		<p>{{ error }}</p>
		{% endif %}
	  <div class="form">
	    <form class="login-form" method="POST">
	      <input type="text" required name="email" placeholder="email"/>
	      <input type="password" required name="password"placeholder="password"/>
	      <button>Login</button>
        <button type="button" onclick="window.location.href='/signup'">Signup</button> 
	    </form>
	  </div>
	</div>
</body>
</html>
